
{% extends 'layout/base.html' %}
<link rel="stylesheet" type="text/css" href="../../static/css/afficheExoUser.css">


{% block body %}

<style type="text/css">.button-nav a:hover {background-color: #111;}</style>
<div class="left-side">

    <div class="top-left-side">
        <h1 class="t1">Exercices de l'étudiant : {{ user }}</h1>
        <p>{{ user }} a fait {{ list_exo|length }} Exercice(s) et {{ nombreTentative }} tentative(s)</p>
    </div>

    <div class="bottom-left-side">
        <ul id="liste-exo-user">
            {% for elem in list_exo %}
                <li><a href="--{{elem}}">{{elem}}</a></li>
            {% endfor %}
        </ul>
        <p id="demo"></p>
    </div>
</div>

<div class="right-side">

    <canvas id="tracage-user" width="1000" height="500"></canvas>
    <script>

    </script>
</div>

{% endblock %}