<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="icon" type="image/icon" href="../static/images/unc-icon.ico">
		<link rel="stylesheet" type="text/css" href="../../static/css/home.css">
    </head>

    <body>

        <!-- Home -->
        <div id = "home" class="container">

            <!-- Left side -->
            <div class="home-left-side">
                
                <!-- Left side Title -->
                <h1>Espace Enseignant</h1>

                <!-- Left side navigation -->
                <div class="btn-home">
                    <a href="/listeExo" class="btn-text" id="btn-home-1">Exercices</a>
                    <a href="/listeUsers" class="btn-text" id="btn-home-2">Etudiants</a>
                </div>

            </div>

            <!-- Right side -->
            <div class="home-right-side"></div>

        </div>
    </body>
</html>





