/* search.css est le CSS de la barre de recherche de la page listeUsers.html 

input{
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type="text"]{
    font-size: 15px;
    padding-left: 16px;
    height: 30px;
    width: 220px;
    background: #fff;
    outline: none;
    border-radius: 25px 25px 25px 25px;
}
button{
    color: #fff;
    background: #0098ff;
    height: 30px;
    border-radius: 25px 25px 25px 25px;
}

*/